.slider-contain {
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
}

.swiper-button-next-support,
.swiper-button-prev-support,
.swiper-button-next-deleted,
.swiper-button-prev-deleted,
.swiper-button-prev-badtrip,
.swiper-button-next-badtrip{
  position: absolute;
  top: 20%;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev-support,
.swiper-button-prev-deleted {
  left: -43px;
}
.swiper-button-prev-badtrip {
  left: -20px;
}
.swiper-button-next-support,
.swiper-button-next-deleted {
  right: -48px;
}
.swiper-button-next-badtrip  {
  right: -24px;
}
.swiper-support,
.swiper-deleted,
.swiper-badtrip {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.swiper-last {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.slider-wrapper-last .swiper-slide-active {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 80px #f3892f;
  }
}
.swiper-slide {
  position: relative !important;
  padding: 0 0 30% 0 !important;
  height: 0 !important;
}
.swiper-slide iframe,
.swiper-slide object,
.swiper-slide embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper-button-next-last,
.swiper-button-prev-last {
  position: absolute;
  cursor: pointer;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}
.swiper-button-next-last{
  right: 0;
}
.swiper-button-prev-last{
  left: 0;
}
.swiper-badtrip{
  padding: 20px;
}
.swiper-badtrip .swiper-wrapper .swiper-slide-active .support__image{
    position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  box-shadow: 0px 0px 23px #276ca1;
  border-radius: 20px;
  }
}