@import "reset";
@import "slider";

html {
  height: 100%;
}
section {
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.27;
  font-family: "Circe", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #2d2d2d;
  background-color: #ffffff;
  overflow-x: hidden;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}

main {
  flex-grow: 1;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #212121;

  &::first-letter {
    color: #f3892f;
  }
}

.header {
  min-height: 220px;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.support {
  padding: 50px 0;
}

.box-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.support_social {
  max-width: 160px;
  display: flex;
  justify-content: space-between;
}

.support__link {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
    transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }

  &:nth-child(1) {
    background-image: url(../img/youtube.svg);
  }
  &:nth-child(2) {
    background-image: url(../img/telegram.svg);
  }
  &:nth-child(3) {
    background-image: url(../img/vk.svg);
  }
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.support__image {
  margin-bottom: 10px;
  cursor: pointer;
}
.view-amount {
  color: #989898;
  font-weight: 400;
}
.support__name {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #212121;
}
.form {
  padding: 40px 30px;
  background-color: #ececec;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 20px transparent;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0px 0px 20px #f3892f;
  }
}
.form__inner {
  display: flex;
  justify-content: space-between;
}
.form__items {
  width: 45%;
}
.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  color: #989898;
}
.form input,
.form select,
.form textarea {
  border: transparent;
  outline: none;
  background-color: #ffffff;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}
.form select {
  color: #f3892f;
  text-decoration: underline;
  cursor: pointer;
}
.form__textarea {
  max-height: 170px;
  resize: none;
}
.form__sum {
  max-width: 250px;
}
.sum_container {
  display: flex;
  align-items: baseline;
  & span {
    width: 30%;
    text-align: center;
  }
}
.label__mail,
.label__name {
  position: relative;
  &::before {
    content: "*";
    color: #f3892f;
    position: absolute;
    top: 0;
    left: -7px;
  }
}
.form__item {
  display: flex;
  align-items: center;
}
.form__submit {
  margin-right: 50px;
  padding: 15px 55px;
  background-color: #f3892f;
  color: #ffffff;
  text-transform: uppercase;
  align-self: center;
  border-radius: 10px;
  cursor: pointer;
  border: transparent;
}
.form__conditions {
  max-width: 450px;
  font-size: 14px;
  color: #989898;
}
.support__check {
  padding: 25px 55px;
  border: 2px solid #f3892f;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  & button {
    padding: 20px 25px;
    background-color: #ececec;
    border-radius: 10px;
    text-transform: uppercase;
    border: transparent;
    cursor: pointer;
  }
}
.support__box {
  & p {
    font-weight: 700;
    font-size: 30px;
  }
  & span {
    display: block;
    font-size: 18px;
  }
}
.last {
  padding: 50px 0 90px;
  background-image: url(../img/last-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
  }
  &__title {
    color: #ffffff;
  }
  &__link {
    color: #f3892f;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  &__image {
    & img {
      width: 100%;
    }
  }
}
.deleted {
  padding-top: 50px;
  background-image: url(../img/deleted-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    & span {
      color: #f3892f;
    }
  }
  &__about {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
  }
}
.badtrip {
  padding-top: 60px;
  background-image: url(../img/badtrip-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__inner {
    padding: 30px;
    background-image: url(../img/badtripinner.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding-bottom: 45px;
    margin-bottom: 50px;
  }
  &__item {
    max-width: 48%;
  }
  &__title {
    color: #ffffff;
    margin-bottom: 15px;
  }
  &__subtitle {
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 24px;
  }
  &__name {
    font-size: 20px;
    color: #ffffff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0 10px;
    &--slide {
      color: #ffffff;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  &-amount {
    padding: 0 10px;
  }
  &__link {
    box-shadow: 0px 0px 20px #511e85;
    border-radius: 30px;
    & img {
      border-radius: 30px;
    }
  }
}
.popular {
  padding: 50px 0;
  &__inner {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
}
.footer {
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  &__text {
    color: #989898;
    text-align: center;
    margin-bottom: 25px;
  }
  &__icons {
    display: flex;
    justify-content: center;
  }
  &__links {
    display: flex;
    justify-content: center;
    margin: 30px auto 30px;
  }
  &__link {
    color: #ffffff;
    text-decoration: underline;
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__about {
    display: flex;
    justify-content: center;
    align-items: baseline;
    & a {
      line-height: 36px;
      text-align: center;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #ffffff;
    }
    & a:first-child {
      padding-right: 15px;
    }
    & a:last-child {
      padding-left: 15px;
    }
  }
  &__social {
    max-width: 160px;
    display: flex;
    justify-content: space-between;
  }
  &__gooders {
    border-right: 1px solid #ffffff;
  }
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 100;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  min-width: 500px;
  padding: 25px;
  transition: 0.5s all;
  border-radius: 20px;
  max-width: 600px;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}
.popup-wrapper {
  max-width: 85%;
  margin: 0 auto;
}
.popup-wrapper h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.popup-wrapper p {
  text-align: center;
  margin-bottom: 20px;
}
.popup-wrapper label {
  display: block;
  max-width: 70%;
  margin: 0 auto;
  color: #989898;
  margin-bottom: 5px;
  font-size: 14px;
  & input {
    display: block;
    background-color: #ececec;
    border: transparent;
    border-radius: 10px;
    padding: 20px 10px;
    outline: transparent;
    width: 100%;
    margin: 10px 0;
  }
}
.label-btn {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.popup-wrapper button {
  display: block;
  margin-right: 0;
}
.popup-wrapper span {
  color: #d2cfcf;
  text-align: center;
  font-size: 13px;
  display: block;
  max-width: 80%;
  margin: 0 auto;
}
.captcha {
  height: 75px;
  width: 200px;
  text-align: center;
}

@import "media";
